.fav-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  padding-block: 0.4rem !important;
  border: none;
  font-size: 22px;
  background-color: transparent;
  cursor: pointer;
  z-index: 50;

  &:hover {
    color: var(--accent-color-1);
  }
}

.fav-btn-full {
  color: rgb(222, 56, 56);

  &:hover {
    color: rgb(222, 56, 56);
  }
}

/* responsive layout properties */
@media (max-width: 400px) {
  .fav-btn {
    padding-block: 0.5rem;
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .fav-btn {
    padding-block: 0.5rem !important;
  }
}
