.shipping-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem 0.7rem;
  border-radius: 5px;
  border: 2px solid var(--light-color-3);
  background-color: #fff;

  &:hover {
    border-color: var(--accent-color-1);
  }

  & input {
    cursor: pointer;
  }
}

.selected {
  border-color: var(--accent-color-1);
}

.shipping-image {
  display: flex;
  align-items: center;

  & img {
    margin-right: 0.7rem;
    max-width: 60px;
    max-height: 20px;
    width: auto;
    height: auto;
  }
}

.shipping-inputs {
  flex-direction: column;
  margin-bottom: 2rem;
}

.shipping-image + p {
  margin-bottom: 0;
  margin-top: 0.6rem;
  font-size: 16px;
  color: var(--dark-color-1);
}

/* responsive layout properties */
@media (min-width: 768px) {
  .shipping-row {
    padding: 0.7rem 1rem;
  }

  .shipping-inputs {
    flex-direction: row;
    margin-bottom: unset;
  }
}
