.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2rem;
  width: 100%;

  & label {
    margin-bottom: 0.2rem;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--dark-color-1);

    & span {
      color: #e84141;
    }
  }

  & input,
  textarea {
    padding: 0.4rem 0.6rem;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    background-color: var(--light-color-1);
    color: var(--accent-color-1);

    &:focus {
      background-color: #eff3f6;
      outline: none;
    }

    &::placeholder {
      color: #999;
      font-weight: 300;
    }
  }

  & textarea {
    height: 10rem;
  }
}

.input.invalid {
  background-color: #f1cfcf;
  animation: vertical-shake 0.3s;
}

.form-field .warning-text {
  margin-top: 0.2rem;
  color: #e84141;
  font-size: 16px;
  visibility: hidden;
}

.contact-form .status-text {
  width: fit-content;
  margin-top: 0.5rem;
  padding: 0.4rem;
  border-radius: 3px;
  font-size: 16px;
  color: #fa0b0b;
  background-color: #ffe8e8;
}

.actions {
  text-align: center;
  width: 100%;
  max-width: 15rem;
}

.actions button {
  padding: 0.3rem 2rem;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  background-color: var(--accent-color-1);
  color: #fff;
  cursor: pointer;

  &:hover {
    background-color: var(--accent-color-2);
  }
}

@keyframes vertical-shake {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
  75% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

/* responsive layout properties */
@media (min-width: 768px) {
  .inputs {
    align-items: flex-start;
  }
}
