.register-wrapper {
  margin-inline: auto;
  padding: 0.8rem;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(120, 120, 120, 0.1);
  background-color: #fff;

  & h1 {
    margin-bottom: 2rem;
    font-size: 26px;
    font-weight: 600;
    color: var(--dark-color-1);
  }

  & h1 + p {
    margin-bottom: 0.8rem;
  }

  & p {
    color: var(--dark-color-1);
    font-size: 16px;
  }

  & ul {
    margin-block: 0.5rem 1rem;
    padding: 0;
    list-style-type: none;
  }

  & li {
    margin-bottom: 0.4rem;
    display: flex;
    align-items: center;
  }

  & svg {
    font-size: 16px;
    margin-right: 0.3rem;
    color: var(--accent-color-1);
  }
}

/* responsive layout properties */
@media (min-width: 768px) {
  .register-wrapper {
    margin: 3rem 2rem;
    padding: 1.5;

    & h1 + p {
      font-size: 16px;
    }
  }
}
