.link {
  margin-bottom: 0.4rem;
  padding: 0;
  text-decoration: underline;
  border: none;
  text-align: left;
  font-size: 15px;
  background-color: transparent;
  color: var(--dark-color-2);
  cursor: pointer;

  &:hover {
    color: var(--dark-color-1);
  }
}

.warning-text {
  color: #e84141;
  font-size: 16px;
  visibility: hidden;
}

@media (min-width: 768px) {
  .link {
    font-size: 16px;
  }
}
