.logged-in-container,
.logged-out-container {
  position: absolute;
  width: 12rem;
  top: 35px;
  right: 0;
  margin-right: 0.5rem;
  border-radius: 3px;
  background-color: var(--light-color-1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border: 1px solid var(--dark-color-2);
  z-index: 900;
}

.logged-in-container {
  padding-top: 5px;
}

.logged-out-container {
  padding-top: 15px;
}

.logged-in-container::before,
.logged-out-container::before {
  position: absolute;
  content: "";
  width: 13px;
  height: 13px;
  background-color: var(--light-color-1);
  transform: rotate(45deg);
  top: -7px;
  border-top: 1px solid var(--dark-color-2);
  border-left: 1px solid var(--dark-color-2);
}

.logged-in-container::before {
  right: 100px;
}

.logged-out-container::before {
  right: 65px;
}

.user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 0.5rem;
  padding: 0.5rem 0.4rem 0.5rem 0.5rem;
  border-radius: 3px;
  font-size: 16px;
  color: var(--dark-color-1);
  font-weight: bold;

  & b {
    color: var(--accent-color-1);
  }
}

.close-btn {
  position: absolute;
  border: none;
  font-size: 18px;
  background-color: transparent;
  color: var(--dark-color-2);
  cursor: pointer;

  &:hover {
    color: var(--accent-color-1);
  }
}

.logged-in-container .close-btn {
  right: 10px;
  top: 14px;
}

.logged-out-container .close-btn {
  right: 10px;
  top: 5px;
}

.link-btn {
  display: grid;
  place-items: center;
  margin: 1em 0.5em 0.5em 0.5em;
  padding-block: 0.3em;
  border-radius: 3px;
  font-size: 15px;
  text-decoration: none;
  color: #fff;
  background-color: var(--dark-color-1);

  &:hover {
    background-color: var(--accent-color-1);
    color: #fff;
  }
}

.register-link {
  margin: 0.8em 0.5em 0.8em 0.8em;
  font-size: 14.5px;
  font-weight: 300;
  color: var(--dark-color-1);

  & a {
    text-decoration: underline;

    &:hover {
      color: var(--accent-color-1);
    }
  }
}

.account-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;

  & li {
    width: 100%;
    display: grid;
  }

  & a {
    padding-block: 0.5rem;
    padding-left: 1rem;
    text-decoration: none;
    font-size: 16px;
    color: var(--dark-color-1);
    border-bottom: 1px solid #dcdcdc;

    &:hover {
      color: var(--accent-color-1);
    }
  }

  & li:last-of-type a {
    border-bottom: none;
  }
}

/* responsive layout properties */
@media (min-width: 401px) {
  .logged-in-container,
  .logged-out-container {
    margin-right: 1rem;
  }

  .logged-in-container::before {
    right: 98px;
  }

  .logged-out-container::before {
    right: 60px;
    top: -8px;
  }
}

@media (min-width: 500px) {
  .logged-in-container,
  .logged-out-container {
    top: 40px;
  }

  .logged-in-container::before {
    top: -8px;
  }
}

@media (min-width: 640px) {
  .logged-in-container::before {
    right: 98px;
  }

  .logged-out-container::before {
    right: 60px;
  }
}

@media (min-width: 960px) {
  .logged-in-container {
    right: 150px;
  }

  .logged-in-container::before {
    right: 120px;
  }

  .logged-out-container::before {
    right: 105px;
  }
}
