.btn {
  padding: 0.3rem 0.8rem;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: var(--accent-color-1);
  color: #fff;
  cursor: pointer;

  &:hover {
    background-color: var(--accent-color-2);
    color: #fff;
  }
}

.btn:disabled {
  background-image: linear-gradient(#e2e2e2, #ddd);
  color: #888;
  pointer-events: none;
}
